<!DOCTYPE html>
<html lang="en">
<head>
	<title>About NFT Ticketing</title>

    {% load static %}
    <!-- Favicon -->    
	<link href="../../static/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../static/css/themify-icons.css"/>
	<link rel="stylesheet" href="../../static/css/owl.carousel.css"/>
	<link rel="stylesheet" href="../../static/css/style.css"/>



</head>
<body>

	<!-- Header section -->
    <header class="header-section clearfix">
        <div class="container-fluid">
            <a href="index.html" class="site-logo">
                <img src="img/logo.png" alt="">
            </a>
            <div class="responsive-bar"><i class="fa fa-bars"></i></div>
            <nav class="main-menu">
                <ul class="menu-list">
                    <li><a href="/">Home</a></li>								
                </ul>
            </nav>
        </div>
    </header>    
    <!-- Header section end -->


	<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>About Us</h2>
			<div class="site-beradcamb">
				<a href="">Home</a>
				<span><i class="fa fa-angle-right"></i> About Us</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->


	<!-- About section -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-6 about-text">
					<h2>What is NFT Ticketing </h2>
					<h5>It is an innovative to implement to ticketing concept to provide transparency and trust.</h5>
					<p>NFT tickets are based on ERC-721 contract of Ethereum. They signify proof of payment and the right to entry to events and experiences. The process of issuing NFT tickets is also fairly simple.</p>					
				</div>
			</div>
			<div class="about-img">
				<img src="../../static/img/ticket_image.jpg" alt="">
			</div>
		</div>
        <h5  style="padding: 70px 50px 10px 50px;">Black marketing of tickets</h5>
        <p style="padding: 5px 50px;">Fraud has plagued the ticketing industry, forcing fans to pay higher prices while raising security threats for event organizers. Through misuse of technology, ticketing bots cause chaos, enabling those online to purchase tickets in bulk and sell them on secondary markets at high prices.

        <h5  style="padding: 5px 50px;">Lack of exchange protocol</h5>
        <p style="padding: 5px 50px;">It is impossible to track customers or exchange data beyond the boundaries of a supplier, and the lack of exchange protocol enables fraud in the secondary market. When a ticket is sold again on the secondary market, it no longer represents any ownership of the original buyer whose details the event organizer has. Therefore, event organizers do not know who is at their event. Because tickets are issued in a way that does not allow for exchanges on the secondary market, there is no ability to change the ticket holder’s name nor control how many times the ticket will change hands.
    
        <h5  style="padding: 5px 50px;">Customer Trust</h5>
        <p style="padding: 5px 50px;">One of the major concerns for guests is whether they have paid for a real ticket or a fake one. Sometimes, customers buy fake tickets on websites posing as legitimate authorized ticketing agents, leading to lost funds and disappointment.
    
        </p>					
	</section>
	<!-- About section end -->


	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">            
			<div class="row spad">
				<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">					
					 <centre><h4>Based On</h4>	<img src="../../static/img/polygon.png" class="mb-4" alt=""></centre> 
				</div>				
			</div>
		</div>
	</footer>


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
